*{
  background-color: black;
  color: antiquewhite;
}
.slogn{
  color:rgb(10, 246, 238);
  font-weight: 800;

}
.header h1{
  background-color: rgb(8, 104, 13);
}
.container{
  /* width: 400px;
  height: 400px; */
  background-color: cadetblue;
}